<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for ('static',filename='admin.css')}}">

    <title>COVID19 INDO</title>
  </head>
  <body>
   
   <div class="container mt-5">
    <div class="card" style="background-color :#1D2951">
        <div class="card-body pl-5">
            <nav class="nav">
                <h6 class="mr-5"><b>COVID 19<br>INDO</b></h6>
                <a class="nav-link active" type="text/html" href="/index.html">Home</a>
                <a class="nav-link" type="text/html" href="/data.html">Data</a>
                <a class="nav-link" type="text/html" href="/About.html">About us</a>
                
              </nav>
              <div class="row main mt-5">
                  <div class="col-md-6">
                      <h3 class="display-4">KAWAL <span>COVID 19</span></h3>
                      <h5 class="display-4">Indonesia</h5>
                  </div>
              </div>
              <img src="{{url_for ('static',filename='corona.png')}}" class="bg-img">
        </div>
      </div>
      <div class="card" style="background-color :#D7D9E8">   
        <div class="card-body">
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Urutkan berdasarkan provinsi
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="{{request.url_root}}data/ascending">A-Z</a>
                  <a class="dropdown-item" href="http://127.0.0.1:5000/data/descending">Z-A</a>
                </div>
              </div>
              <br>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">PROVINSI</th>
                    <th scope="col">POSITIF</th>
                    <th scope="col">SEMBUH</th>
                    <th scope="col">MENINGGAL</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in data_provinsi %}
                  <tr>
                    <td>{{data[0]}}</td>
                    <td>{{data[1].Provinsi}}</td>
                    <td>{{data[1].Kasus_Posi}}</td>
                    <td>{{data[1].Kasus_Semb}}</td>
                    <td>{{data[1].Kasus_Meni}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>